[Unit]
Description=2Mic LEDs

[Service]
Type=simple
ExecStart=docker container run -t --rm \
	--device /dev/gpiomem \
	--device /dev/mem \
	--device /dev/spidev0.0 \
	--device /dev/spidev0.1 \
	--mount type=bind,src=/sys/class/gpio,dst=/sys/class/gpio \
	--network wyoming \
	--name 2micleds \
	juli3nk/2mic-leds
ExecStop=docker container kill 2micleds
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
